@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --red: rgb(186, 73, 73);
    --purple: rgb(130, 110, 190);
    --blue: rgb(61, 137, 154);
}

.container{
    color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar{
    width: 100%;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbar ul li {
    cursor: pointer;
    list-style: none;
    padding: 5px 8px;
    border-radius: 4px;
    border: transparent;
}

.chosenTab{
    background-color: rgba(0,0,0,0.2);
    transition: all 0.2s linear;
}

.navbar ul li a{
    pointer-events: none;
}

.bg-red{
    background-color: var(--red);
    transition: all 0.2s linear;
}

.bg-purple{
    background-color: var(--purple);
    transition: all 0.2s linear;
}

.bg-blue{
    background-color: var(--blue);
    transition: all 0.2s linear;
}

.text-red{
    color: var(--red);
}

.text-purple{
    color: var(--purple);
}

.text-blue{
    color: var(--blue);
}

.timer-container {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    position: absolute;
    top: 10%;
    width: 40vw;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px 110px;
}

#timer-title {
    font-size: 7rem;
    margin: 20px 0px;
}


.btn-pressed{
    border: none;
    position: relative;
    top: 4px;
}

.btn-not-pressed{
    border: none;
    border-bottom: 4px solid rgb(151, 151, 151);
}

.heading{
    display: flex;
    height: fit-content;
    margin-top: 15px;
    width: 40vw;
    justify-content: space-between;
}

.fa-solid.fa-gear{
    padding-right: 5px;
}

#settings-btn{
    color: white;
    cursor: pointer;
    border-radius: 4px;
    background-color: rgb(255,255,255,0.1);
    border: transparent;
    padding: 5px 8px;
    transition: all 0.2s linear;
    outline: none;
}

#settings-btn:hover{
    background-color: rgb(255,255,255,0.2);
}


#dark-layer{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.hide{
    display: none !important;
}

.settings-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.settings-heading>h3{
    color: rgb(97, 97, 97);
}

#settings-menu{
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 35%;
    width: 30vw;
    margin: auto;
    background-color: rgb(255, 255, 255);
}

.settings-fields{
    position: relative;
    top: 30%;
}

.input-field{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.1rem;
    margin: 20px 0px;
    color: rgb(150, 150, 150);
    font-weight: 600;
}

input{
    border-radius: 8px;
    padding: 5px 8px;
    outline: none;
    border: transparent;
    width: 30%;
    background-color: rgb(240, 240, 240);
    color: rgb(118, 118, 118);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

.fa-solid.fa-xmark{
    align-self: flex-end;
    cursor: pointer;
    color: rgb(177, 177, 177);
    transform: scale(1.2);
}

#sessionCounter{
    margin-top: 20px;
}

#pause {
    outline: none;
    cursor: pointer;
    height: 60px;
    width: 200px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 4px;
}

.fa-solid.fa-rotate {
    margin: 0px 10px;
}

#reset{
    cursor: pointer;
    transform: scale(1.5);
}

#period{
    position: relative;
    top: 20px;
    margin: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}